.img {
    background: linear-gradient(135deg, #bad2f2, #0791d1);
    width: 120px;
    height: 120px;
}
.case {
    background: linear-gradient(135deg, #bad2f2, #07d15b);
}
footer {
    background-color: #ccc;
}
