@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
ul li{
	list-style: none;
}
ul{
	padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol
{
  margin: 0;
}


p {
  margin-block: 0;
}



img {
  display: block;
  max-width: 100%;
}

:root {
  --color-dark: #191A23;
  --color-dark-alt: #292A32;
  --color-light: #FFFFFF;
  --color-accent: #B9FF66;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  background-color: var(--color-gray);
}
.container1{
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  background-color: var(--color-gray);
}



body {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
input
{
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-dark);
}




h1, .h1 {
  font-size: 43px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 26px;
}

h4, .h4 {
  font-size: 18px;
}



.contact-us__checkbox{
  margin-bottom: 20px;
}
.radios {
  display: flex;
  column-gap: 35px;
}

.radio {
  display: flex;
  align-items: center;
  column-gap: 14px;
  transition-duration: var(--transition-duration);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
}

.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}
.button--accent {
  color: var(--color-dark);
  background-color: var(--color-accent);
}



#header {
  background-color: var(--color-gray-alt);
}
.header__logo-wrapper{
	background-color: var(--color-gray-alt);
	width: 120px;
	
	padding: 7px;
	float: left;

}

.header__menu {
  font-size: 20px;
  margin-top: 10px;
  background-color:#d5d5d5;
}
.header__menu-list {

	display: flex;
  flex-direction: column; /* Вертикальный список на мобильных устройствах */
  row-gap: 10px; /* Отступ между элементами меню */
  width: 100%; /* Полная ширина для элементов меню */
  text-align: center; /* Центрирование текста в элементах меню */
}




  
.header__title {
	margin-left: auto;
	padding-top: 10px;
	padding-inline: 18px;
  font-size: 29px;
}

.process{

	padding: 30px;
	
}
.process__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  
}


.process__item a{
	
	position: relative;
	text-decoration: none;
}



.process__item a:not(:nth-child(3))::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	translate: -50%;
	width: 0;
	height: 2px;
	background-color: var(--color-dark);
	transition-duration: var(--transition-duration);
  }
  
  .process__item a:not(:nth-child(3)):hover::after {
	  width: 100%;
  }
.item-img{
  display: flex;
  flex-direction: column;
}
.item-img1{
  text-align: center;
}
#table {
    padding-top: 5px;
    padding-block: 30px;
    margin-inline: auto;
    border-collapse: collapse;
}

#table,
#table td,
#table th {
    border: 2px solid var(--color-dark);
}

#table td {
    padding: 10px;
    text-align: center;
}

#table thead tr {
    background-color: #d5d5d5 !important; /* Цвет фона для заголовка */
}

#table tr:nth-child(even) {
    background-color: var(--color-gray);
}

#table tr:nth-child(odd) {
    background-color: var(--color-gray-alt);
}

.section{
	display: flex;
    flex-direction: column; 

  margin-block: 20px;
}

.contact-us__form, .contact-us__body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}

.contact-us__body {
  row-gap: 25px;
  padding: 20px;
}
.field {

  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}



.field__input {
  width: 100%;
  height: var(--input-height);
  padding-inline: 30px;
  color: var(--color-dark);
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
}


.field__input::placeholder {
  color: var(--color-dark);
}
.field__input--textarea {
  height: 190px;
  padding-block: 18px;
  resize: none;
}

.field__input--option{
  width: 100%;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);
  padding-inline: 30px;

}

.table__wrapper {
    order: -1; /* Переместить таблицу выше списка на мобильных устройствах */
}
.footer{
  background-color: var(--color-gray-alt);

}
.footer__inner {
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin: 0 auto;
  height: 100px;
}
.button:hover {
  color: var(--color-dark);
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}



  .header__menu-link {
	font-size: 16px;
	font-weight: 700;
	position: relative;
	display: inline-flex;
	text-decoration: none;
}
.header__title{
	font-size: 20px;
	font-weight: 700;
}

.header__title-wrapper{
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-alt);
    height: 114px;
}

  .header__menu-link::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	translate: -50%;
	width: 0;
	height: 2px;
	background-color: var(--color-dark);
	transition-duration: var(--transition-duration);
  }
  
  .header__menu-link:hover::after {
	  width: 100%;
  }
  .header{
	background-color: var(--color-gray-alt);
  }


/* Стили для больших экранов (min-width) */
@media (min-width: 601px) {
	.header__title-wrapper{
		background-color: var(--color-gray);
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.header__title{
		margin-left: 0;
	}
	.header__logo-wrapper{
		padding: 0px;
	
	}
	
	.main{
		display: flex;
		flex-direction: column;
	}
	.header__menu{
		order: -1;
		margin-left: auto;
		background-color:#d5d5d5
	}
    .header__menu-list {
	flex-direction: row;
	justify-content: space-between;
 	column-gap: 40px;
 	list-style: none; 
    }
	
	.header__nav-wrapper{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.header__inner {
		padding: 10px;
		display: flex;
		align-items: center;
		column-gap: 40px;
	  }



	  .table__wrapper{
		order: 1;
	  }
}
